html{ 
    background-image: linear-gradient(90deg, #e0c3fc 0%, #8ec5fc 100%,#8ec5fc 100%,#e0c3fc 0%);
}
body{
    font-family: 'Raleway', sans-serif;
    }

.main{
    display: grid;
    grid-template-areas:       
                            ".    connexion  ."
                            ".      inscivezVous   ."
                            ".       inscription    .";
    grid-template-columns: auto 50% auto;
    grid-template-rows: auto 1fr auto;
     
 
}
input{
    display: block;
    width: 100%;
    border-radius: 23.5px;
    height: 47px;   
    color:black;
    font-size: 13px;
    border: none;
    background:#d4d7e5;
    margin-bottom: 25px;
    text-align: center;
}
.form-example {
	grid-area: inscription;
    font-size: 1.4em;
    text-shadow: 1px 1px 0px #d4d7e5;
    text-align: center;
}
.form-example a{
    color:#41374c;
}
.form-example>input{
    margin-left: 25%;
    width: 50%;
}
.containerConnect{
    grid-area: connexion;
    background-color: #3d4c75;
    margin: 10%;
    
    padding-bottom: 40px;
    padding-left: 4%;
    padding-right: 4%;
    text-align: left;  
    border-radius: 10px;
    border:solid 5px;
    border-color: #242a31;
   -moz-box-shadow: 5px 5px 5px 0px #41374c;
    -webkit-box-shadow: 5px 5px 5px 0px #41374c;
    -o-box-shadow: 5px 5px 5px 0px #41374c;
    box-shadow: 5px 5px 5px 0px #41374c;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#41374c, Direction=134, Strength=5);
    
}
#container2{
    grid-area: inscription;
    background-color: azure;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.formConnexion {
	display: flex;
    
}

.formConnexion input[type="text"]{
    flex: 1 1 auto;
}

.formPassWord{
	display: flex;
    
}
.formPassWord input[type="password"]{
    flex: 1 1 auto;
}

.error{
    color:red;
    font-weight: bold;
    text-align: center;
    }
.success{
    color:green;
    font-weight: bold;
    text-align: center;
    }
/* define a fixed width for the entire menu */
.navigation {
  width: 300px;    
}

ul  li{
    border:solid 1px;
    text-align: center;
    
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
  display: block;
  background-color: #7880af;
  text-decoration: none;
  padding: 10px;
  color: #41347c;
}

/* add hover behaviour */
.mainmenu a:hover {
    background-color: #3d4c75;
}


/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
  background-color: #d4d7e5;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
  background-color: #3d4c75;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-out;
}
.author{
    text-align: right;
    
}
.container {
     background-color: #3d4c75;
    margin: 1%;
    margin-top:4%; 
    padding-bottom: 40px;
    margin-bottom: 4%;
    text-align: left;  
    border-radius: 10px;
    border:solid 5px;
    border-color: #242a31;
   -moz-box-shadow: 5px 5px 5px 0px #41374c;
    -webkit-box-shadow: 5px 5px 5px 0px #41374c;
    -o-box-shadow: 5px 5px 5px 0px #41374c;
    box-shadow: 5px 5px 5px 0px #41374c;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#41374c, Direction=134, Strength=5);
	
}
.indexContainer{
    
    background-color: #3d4c75;
    margin: 1%;
    padding-bottom: 40px;
    text-align: left;  
    border-radius: 10px;
    border:solid 5px;
    border-color: #242a31;
   -moz-box-shadow: 5px 5px 5px 0px #41374c;
    -webkit-box-shadow: 5px 5px 5px 0px #41374c;
    -o-box-shadow: 5px 5px 5px 0px #41374c;
    box-shadow: 5px 5px 5px 0px #41374c;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#41374c, Direction=134, Strength=5);
    
    
}
.indexBlock{
    background-color: 7880af;
    padding: 1em;
    border-top-left-radius: 51px;
    min-height: 400px;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 94%;
    
}


fieldset p{
    max-width: 90%;
    max-height: 90%;
    overflow-wrap:break-word;
    word-wrap: break-word;
}

.btnRetour a{
display: block;
padding-top: 2em;
text-decoration: none;
text-align: center;
color:#d4d7e5;
-webkit-transition: font-size .5s ease;
-moz-transition: font-size .5s ease;
-o-transition: font-size .5s ease;
transition: font-size .5s ease;  
text-transform: uppercase;
}

.btnRetour a:hover{
    text-shadow: 1px 0px 20px white; 
    font-size: 22px;
    text-transform: uppercase;
}
.btnAddNewsRetour {
	grid-column: 2;
   
}
.btnAddNewsRetour a{
display: block;
text-decoration: none;
text-align: center;
margin-top: -2em;
color:#d4d7e5;
-webkit-transition: font-size .5s ease;
-moz-transition: font-size .5s ease;
-o-transition: font-size .5s ease;
transition: font-size .5s ease;  
text-transform: uppercase;
}
.btnAddNewsRetour a:hover{
    text-shadow: 1px 0px 20px white; 
    font-size: 22px;
    text-transform: uppercase;
    }

.areaWidth{
    min-height:300px;
    min-width:500px;
    max-width: 1000px;
    margin-bottom: 2em;
}

/*/////////////////////////////////////////////////changement de taille///////////////////////////////////////////////*/

@media (max-width: 800px) { 

.main{
    display: grid;
    grid-template-areas:       
                            "connexion"
                            "inscivezVous"
                            "inscription";
    
    grid-template-rows: auto;
    }
.containerConnect{
    grid-area: connexion;
    background-color: #3d4c75;
    margin: 10%;
    
    padding-bottom: 40px;
    padding-left: 4%;
    padding-right: 4%;
    text-align: left;  
    border-radius: 10px;
    border:solid 5px;
    border-color: #242a31;
   -moz-box-shadow: 5px 5px 5px 0px #41374c;
    -webkit-box-shadow: 5px 5px 5px 0px #41374c;
    -o-box-shadow: 5px 5px 5px 0px #41374c;
    box-shadow: 5px 5px 5px 0px #41374c;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#41374c, Direction=134, Strength=5);
    
}
#container2{
    grid-area: inscription;
    background-color: azure;
}

.btnAddNewsRetour {
	grid-column: 1;
   }
    
.navigationHead {
display: flex; /* 1 */
flex-flow: row wrap; /* 2 */
flex-direction:column;
justify-content: space-around;    
list-style: none;
padding: 0;
margin: 0;
background-color: #242a31;
max-height: 80px;
margin-bottom: 2%;
}

}


