body{
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    
    background-color: azure;
    padding: 1%;
    width:30%;
    height:20%;
    text-align: left;   
}
h1{
    text-align: center;
}
.formConnexion {
	display: flex;
    
}

.formConnexion input[type="text"]{
    flex: 1 1 auto;
}

.formPassWord{
	display: flex;
    
}
.formPassWord input[type="password"]{
    flex: 1 1 auto;
}