.navigationHead {
display: flex; /* 1 */
flex-flow: row wrap; /* 2 */
justify-content: space-around;    
list-style: none;
padding: 0;
margin: 0;
background-color: #242a31;
max-height: 80px;
margin-bottom: 2%;

}
.navigationHead li{
    border: none;
}
.navigationHead a {
display: block;
padding: 1em;
text-decoration: none;
text-align: center;
color:#d4d7e5;
 -webkit-transition: font-size .5s ease;
  -moz-transition: font-size .5s ease;
  -o-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.navigationHead a:hover{
    text-shadow: 1px 0px 20px white; 
    font-size: 22px;
}

.newArticle a{
    display: block;
padding-top: 1em;
text-decoration: none;
text-align: center;
color:#d4d7e5;
-webkit-transition: font-size .5s ease;
-moz-transition: font-size .5s ease;
-o-transition: font-size .5s ease;
transition: font-size .5s ease;  
text-transform: uppercase;
}

.newArticle a:hover{
    text-shadow: 1px 0px 20px white; 
    font-size: 22px;
    text-transform: uppercase;
}