/* define a fixed width for the entire menu */
header {
    display: grid;
    grid-template-areas: "left  centre"
                        "left  centre" ;
grid-template-columns: 300px 1100px;
}

.navigation {
  padding-top: 55px;    
  grid-area: left;    
  width: 300px;    
}

ul  li{
    border:solid 1px;
    text-align: center;
    
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
  display: block;
  background-color: #7880af;
  text-decoration: none;
  padding: 10px;
  color: whitesmoke;
}

/* add hover behaviour */
.mainmenu a:hover {
    background-color: black;
    color: whitesmoke;
}


/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
  background-color: #3d4c75;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
  background-color: black;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-out;
}
.containaer{
    grid-area: centre;
    background-color: #d4d7e5;
    min-height: 500px;
    
}