/* define a fixed width for the entire menu */
.container {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: start;
    column-gap: 1em;
    width:95.4%;
    margin-left: 0px;
    padding-left: 10px;
    margin-top: 1%;
   
    
}

.firstBlock{
    
    background-color: 7880af;
    padding: 1em;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 50px;
    min-height: 400px;
    
   
}

.secondBlock{
     background-color: 7880af;
     padding: 1em;
     border-top-right-radius: 100px;
     border-bottom-left-radius: 50px;
     min-height: 400px;
     /*order:-1;*/
    
}